@use "../../styles/mixins";
@use "../../styles/variables";

.section {
    width: 100%;
    @include mixins.flex-center;
    position: relative;
}

.container {
    flex-direction: column;
    display: flex;
    gap: 16rem;
    padding: 12rem 0;
    width: 100%;
    max-width: 1200px;
}
