@import "../../styles/colors";
@import "../../styles/variables";

.nav {
    width: 100%;
    height: $nav-height;
    position: fixed;
    display: flex;
    z-index: 100000;
    padding: 2rem 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0 0 0 / 50%);
    backdrop-filter: blur(8px);
}

[data-scrolled="true"] .nav {
    background-color: black;
}

.nav_right {
    justify-content: end;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    height: 100%;
    color: $bg;
}

.contact {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tel {
    @extend .contact;
}

.mail {
    @extend .contact;
}

.list {
    gap: 2rem;
    display: flex;
    list-style: none;
}

.item {
    color: white;
}

.link {
    color: var(--border);
    cursor: pointer;
    padding: 0.2rem;

    &:hover {
        color: var(--text);
    }
}
