@import "../styles/colors";

.logo {
	font-family: "Gajraj", Arial, Helvetica, sans-serif;
	font-size: 2.4rem;

	line-height: 0.65;
}

.first {
	span:first-child {
		color: black;
		color: #ddd;
	}
	span:last-child {
		color: $brand-dark;
	}
}

.second {
	span:first-child {
		color: $brand-dark;
	}
	span:last-child {
		color: black;
		color: #ddd;
	}
}
