@import "../styles/colors";
.nav {
	height: 6rem;
	width: 100%;

	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100000;
	padding: 0 2rem;
}

.logo {
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.2rem;
	height: 100%;
	color: $bg;
}

.contact {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.tel {
	@extend .contact;
}

.mail {
	@extend .contact;
}
