.container {
    z-index: 1000000;
    height: 300svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    object-fit: cover;
}
.imageCity {
    position: relative;
    height: 10px;
    width: 10px;
}
.imageBikes {
    position: relative;
    width: 10px;
    height: 10px;
}
.imageForest {
    position: relative;
    height: 10px;
    width: 10px;
}
